.ShopPage{
    display: flex;
    flex-direction: column;
    gap: 25px
}

.ShopPageItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-bottom: 25px;

    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(163, 163, 238);
}

.ShopPageItem > button {
    height: fit-content;
    width: fit-content;
}