.card {
  border-radius: 20px;
  background-color: rgb(163, 163, 238);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.SingleOrderItem {
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(163, 163, 238);
}